/* FONTS FORM */
.h1 {
  font-size: 5rem;
}

.h2 {
  font-size: 2.6rem;
}

.h2 {
  font-size: 2.2rem;
}

.p {
  font-size: 1.5rem;
}

/* .formBackground {
  background-image: url("/ticket.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.form {
  display: grid;
  place-content: center;
}

.formWrapper {
  display: grid;
  margin-bottom: 2rem;
  min-width: 400px;
}

/* retter label tekst på dropdown */
.dropdownLabel {
  position: relative;
  display: inline-flex;
  left: 0;
  bottom: 0;
  top: 20px;
}

.inputField {
  max-width: 350px;
}

.campText p {
  margin: 0px;
  font-size: 1.5rem;
  margin-block: 1rem;
  text-align: left;
}
.tentOption {
  text-align: left;
}

/* knap */
.btn_container {
  display: flex;
  justify-content: center;
}

.form_btn {
  margin-bottom: 3rem;
}

/* Overview box */

.overviewContainer {
  border: 1px solid black;
  padding: 2rem;
  max-width: 400px;
  margin-bottom: 2rem;
}

/* Add button */
.addBtn {
  max-width: 20px;
  max-height: 20px;
  margin-block: 5px;
}
.addBtnWrapper {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.btnText {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
}
