/* FONTS FORM */

.formWrapper {
  display: grid;
  margin-bottom: 2rem;
  max-width: 350px;
}

/* retter label tekst på dropdown */
.dropdownLabel {
  position: relative;
  display: inline-flex;
  left: 0;
  bottom: 0;
  top: 20px;
}

.inputField {
  max-width: 350px;
}

.campText p {
  margin: 0px;
  font-size: 2rem;
  margin-block: 1rem;
}

/* knap */
.btn_container {
  display: flex;
  justify-content: center;
}

.form_btn {
  margin-bottom: 3rem;
}

.cardBackgroun {
  background-image: ;
}
