/* LANDIGN */
.landingpageBackground {
  background: rgb(86, 230, 201);
  background: linear-gradient(180deg, rgba(86, 230, 201, 1) 25%, rgba(160, 235, 88, 1) 61%, rgba(232, 82, 219, 1) 97%);
}

.bold {
  font-weight: bold;
}
.date {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.date p {
  font-size: 1.8rem;
}

.landingButtons {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  row-gap: 1rem;
}
.landingButtons button:hover {
  background-color: white;
  cursor: pointer;
}

.ticketSection {
  display: flex;
}
.ticketSection img {
  max-width: 50rem;
}

/* ARTIST SECTION */
.landingArtistGrid {
  display: flex;
  gap: 0.8rem;
}
.landingArtistGrid article {
  width: 100%;
  filter: grayscale(1);
  object-fit: cover;
}

.landingArtistGrid img:hover {
  cursor: pointer;
}
.landingArtistGrid article img {
  position: absolute;
}

.landingArtistGrid article p {
  z-index: 1;
  position: relative;
  color: white;
  text-align: center;
  margin-top: 50%;
}
/* .landingArtistGrid article div {
  visibility: hidden;
}
.landingArtistGrid article div:hover {
  visibility: visible;
} */
