/* NAVIGATION */
/* Nav menu */
.logo {
  font-family: var(--heading);
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: var(--p);
}
.navMenu {
  background-color: transparent;
  box-shadow: none;
}

.navMenu:hover {
  background-color: rgba(255, 255, 255, 0.539);
}
.navStyleBtn1 {
  border: solid 2px black;
  padding: 5px;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 2rem;
  font-family: var(--paragraph);
  text-decoration: none;
  color: black;
}
.navStyleBtn2 {
  border: none;
  padding: 5px;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 2rem;
  font-family: var(--paragraph);
  text-decoration: none;
  color: black;
}
.navStyleBtn1:hover,
.navStyleBtn2:hover {
  font-weight: bold;
  border: solid 3px black;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  opacity: none;
  background-color: transparent;
}
.flexBox {
  display: flex;
  gap: 1rem;
}

/* BURGER */
/* back icon style */
.backIcon {
  display: flex;
  justify-content: start;
}

.burgerIcon {
  /* Add your custom styles hereSTAGE */
  background-color: transparent;
  width: auto;
}

.burgerIcon:hover,
button.burgerIcon:hover {
  background-color: transparent;
}

/* LANDIGN */

.landingSection {
  margin-top: 5rem;
}
.landingHeading {
  margin-block: 3rem;
}
.landingQuote {
  font-size: var(--h4);
  margin: 5rem 6rem;
}
.spanThe {
  margin-inline: 5rem;
}
.bold {
  font-weight: bold;
}
.date {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.date p {
  font-size: var(--p);
}

.landingButtons {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  row-gap: 1rem;
}
.landingButtons button:hover {
  background-color: white;
  cursor: pointer;
}

/* TICKET SECTION */
.ticketSection {
  display: flex;
}
.ticketSection img {
  max-width: 50rem;
}
.ticketSection img:hover {
  cursor: pointer;
  filter: contrast(200%);
}

/* ARTIST SECTION */
.landingArtistGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.landingArtistGrid article {
  filter: grayscale(1);
}
.landingBand1 {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  place-self: center;
}
.landingBand2 {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
  place-self: center;
}
.landingBand3 {
  grid-column: 3;
  grid-row: 1;
  z-index: 1;
  place-self: center;
}

.landingArtistGrid img:hover {
  cursor: pointer;
}

.landingArtistGrid div h3 {
  z-index: 1;
  position: relative;
  color: white;
  text-align: center;
  /* margin-top: 50%; */
  color: hotpink;
}

.link1,
.link2 {
  font-size: 2rem;
  font-family: var(--paragraph);
  color: black;
  display: grid;
  /* text-align: center; */
  margin-top: 2rem;
}
.link1:hover,
.link2:hover {
  color: white;
}

/* PROGRAM SECTION */
.link2 {
  text-align: center;
}
.programContainer {
  margin: 8rem;
}

.programText {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  /* -webkit-text-stroke: 1px black;
  color: white; */
  line-height: 3.5rem;
}

/* STAGE SECTION */

.stageSection {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 8rem 6rem;
}
.stageSection div {
  grid-column: 2;
  grid-row: 2;
}
.stageSection div h3 {
  text-transform: uppercase;
}
.stageSection div p {
  margin-bottom: 1rem;
}

@media (max-width: 750px) {
  /* LANDING */
  .date {
    gap: 2rem;
  }

  .landingSection {
    margin-top: 3rem;
  }
  .landingQuote {
    margin: 5rem 3rem;
  }
  .spanThe {
    margin-inline: 1rem;
  }

  /* PROGRAM */
  .programText {
    font-size: 2rem;
    line-height: 1.2;
  }
  .programContainer {
    margin-inline: 2rem;
  }
  .link1,
  .link2 {
    font-size: 1.5rem;
  }

  /* STAGE */
  .stageSection div {
    grid-column: 1;
  }
  .stageSection {
    margin-inline: 2rem;
  }
}
