.ModalConcertInfo span,
.ModalBio span {
  font-weight: bold;
}

.ModalSection {
  display: grid;
  margin-bottom: -5rem;
}

.ModalInfo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-inline: 2rem;
}

.ModalButton {
  z-index: 1;
  position: absolute;
  place-self: center;
  background-color: white;
}

.ModalArtistName {
  margin-top: -10%;
  color: white;
  text-align: left;
  margin-left: 2rem;
}

.ModalImg {
  margin-top: -25%;
}

.ModalBio {
  max-width: 60%;
}

@media (max-width: 750px) {
  .ModalSection {
    margin-bottom: -3rem;
  }
  .ModalButton {
    width: 10rem;
  }

  .ModalImg {
    margin-top: 0;
  }

  .ModalArtistName {
    margin-top: -15%;
  }
  .ModalBio {
    margin-left: auto;
    max-width: 800px;
  }
}
