.ModalConcertInfo span,
.ModalBio span {
  font-weight: bold;
}

.ModalSection {
  display: grid;
  /* margin-bottom: -3rem; */
}
.CancelledName {
  text-decoration-line: line-through;
  color: rgb(130, 0, 0);
}

.ModalInfo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 2rem;
  row-gap: 2rem;
}

.ModalButton {
  z-index: 1;
  place-self: center;
  border: none;
  color: white;
  font-family: var(--heading);
  font-size: var(--p);
  width: auto;
  text-transform: uppercase;
}

.ModalArtistName {
  margin-top: -40vh;
  color: white;
  /* text-align: left; */
  margin-left: 2rem;
  font-size: var(--h2);
  z-index: 1;
}

.ModalImg {
  margin-top: -40%;
  object-fit: cover;
  filter: grayscale(1);
}

.ModalBio {
  max-width: 60%;
}

.ModalConcertInfo p {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .ModalSection {
    margin-bottom: -1rem;
  }
  .ModalButton {
    width: 10rem;
  }
  .ModalArtistName {
    margin-top: -35%;
  }

  /* .ModalImg {
    margin-top: 0;
  } */

  .ModalBio {
    margin-left: auto;
    max-width: 800px;
  }
}
