/* .container {
  width: 100%;
  margin: 0;
  background: transparent;
}

.container ul {
  list-style-type: none;
  text-decoration: none;
  /* margin: 0;
  padding: 0; */
/* overflow: hidden; */
/* } */
/* 
.container ul li {
  float: right;
  color: white;
} */

/* .container ul li:hover {
  color: black;
} */
