/* Inspiration from tinderbox program setup with line indication and schema:
 https://tinderbox.dk/program/?gad=1&gclid=CjwKCAjwjYKjBhB5EiwAiFdSfiRSNWo1SbtqktdsBSz9BluuzPH0NGo6nI9zuTTo43puyqPPzRvPhBoCFG4QAvD_BwE
 */

/* SCHEDULE */

.scheduleSection {
  display: flex;
  margin-top: 3rem;
  margin-left: 2rem;
}

.scheduleStages {
  margin-top: 12.8rem;
  margin-right: 1rem;
}
.scheduleStages h3 {
  font-size: 2rem;
  margin-bottom: 7.8rem;
  text-transform: uppercase;
  margin-inline-end: -15px;
  border-bottom: 1.2px solid rgba(224, 224, 224, 1);
}
.scheduleStages h3:last-child {
  margin-bottom: 0;
}
/* linje under knapper der indikerer at man kan scroll */
.scroll_tekst {
  padding-left: 30px;
  margin-top: -10px;
  font-size: 0.8rem;
  text-align: center;
}


.scheduleHeading {
  /* line-height: 6rem; */
  text-transform: uppercase;
}

.link {
  font-size: var(--h3);
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  font-family: var(--heading);
  font-weight: bold;
  text-align: center;
  display: grid;
  /* margin-top: -4rem; */
  margin-bottom: 8rem;
}
.link:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.act_wrapper {
  padding-left: 80px;
  padding-right: 20px;
}
/* Stage buttons */
.days {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 1rem;
  overflow-x: auto;
}
.dayName {
  text-align: center;
}

.days button {
  flex-shrink: 0;
  /* ensures buttons don't shrink to fit the container width. */
  width: 10rem;
  font-family: var(--paragraph);
  font-size: 1rem;
}
.days button:hover,
.activeButton {
  background-color: white;
}

@media (max-width: 1215px) {
  .days {
    justify-content: flex-start; /* This ensures the left alignment of items */
  }
}

@media (max-width: 750px) {
  .scheduleStages {
    margin-top: 14.2rem;
  }
  .scheduleStages h3 {
    font-size: 1rem;
    margin-bottom: 9.2rem;
  }
}
